<h1 style="text-align: center;">Hangman!</h1>
<hr />

<br>

<h2>Details </h2>
<ul>
  <li><strong>Technologies Used:</strong> ASP.NET, Blazor, EF Core, Visual Studio 2022 (IDE)</li>
  <li><strong>Group assignment</strong> in which a player plays the traditional Hangman game.</li>
  <li>Account authentication is required. </li>
</ul>

<br>

<div>
<h2><a style="text-decoration: none;" href="https://faviooterospr22.epizy.com/login.php">Showcase</a></h2>
<img style="width: 30%;" src="/assets/img/ngGIF.gif" />
</div>

<br>

<div>
<h2><a style="text-decoration: none;" href="https://github.com/faviootero123/NumberGuessing">Code Snippet - Sign Up</a></h2>
<pre>
    <code>{{code}}</code>
 </pre>
</div>

<br>

