<h1 style="text-align: center;">Hangman!</h1>
<hr />

<br>

<h2>Details </h2>
<ul>
  <li><strong>Technologies Used:</strong> ASP.NET, Blazor, EF Core, Visual Studio 2022 (IDE)</li>
  <li><strong>Group assignment</strong> in which a player plays the traditional Hangman game.</li>
  <li>The game was hosted locally. </li>
  <li>The game itself was created using asynchronous UI (no redirection) with the help of Websockets which allowed true asynchronous communication between server and client.</li>
  <li>The game was also able to display a list with the highest score from the top players.</li>
  <li>Account authentication was required. My team decided to use the built in authentication from Blazor.</li>
  <li>Logic of game was generated server-side.</li>
  <li><strong>Contribution:</strong> Design of the contents of the game by the use of styles, collaborate with my teammates to implement the logic of the game, assist my teammates with the database migrations. </li>
</ul>

<br>

<div>
<h2>Showcase</h2>
<img style="width: 60%;" src="/assets/img/hmGIF.gif" />
</div>

<br>

<div>
<h2><a style="text-decoration: none;" href="https://github.com/JohnnySixStrings/crumbs">Code Snippet - Display High Score</a></h2>
<pre>
    <code>{{code}}</code>
 </pre>
</div>


