<h1 style="text-align: center;">Speed!</h1>
<hr />

<br>

<h2>Details </h2>
<ul>
  <li><strong>Technologies Used:</strong> ASP.NET, SignalR, Angular, Visual Studio 2022 (IDE)</li>
  <li><strong>Group assignment</strong> in which a player plays the original Speed card game.</li>
  <li>The game was hosted locally. </li>
  <li>The web-based card game itself was created using asynchronous UI with the help of SignalR which allowed asynchronous communication between two players and the server.</li>
  <li>Authentication was not required. Players were able to play from different sessions (two different browsers on the same computer, or two different computers).</li>
  <li>The game used websockets to transmit data back and forth via local server.</li>
  <li>Logic of game was generated server-side.</li>
  <li><strong>Contribution:</strong> Design of the contents of the game by the use of styles, collaborate with my teammates to implement the logic of the game, implement many SignalR handlers, add server-side functions that handle the reset and the creation of the game, assist my teammates with the drop card mechanism.</li>
</ul>

<br>

<div>
<h2>Showcase</h2>
<img style="width: 60%;" src="/assets/img/sGIF.gif" />
</div>

<br>

<div>
<h2><a style="text-decoration: none;" href="https://github.com/JohnnySixStrings/Scrumbs">Code Snippet - SignalRService</a></h2>
<pre>
    <code>{{code}}</code>
 </pre>
</div>

<br>