<h1 style="text-align: center;">Scholarship Application!</h1>
<hr />

<br>

<h2>Details </h2>
<ul>
  <li><strong>Technologies Used:</strong> .NET, Entity DB / MSSQL, Razor, Visual Studio (IDE)  </li>
  <li><strong>Group assignment</strong> in which my team had to fix and update an upper division group project from 2018. </li>
  <li>The group assignment was mainly focused on updating it the code from .NET 2 to .NET 6.</li>
  <li>Entity DBs were also supposed to automatically create themselves if these did not exist.</li>
  <li>Used of a MVC design pattern.</li>
  <li>Fixing unintentional and intentional bugs.</li>
  <li>Adding a new section to the student's profile.</li>
  <li><strong>Contribution:</strong> Implement the new section to the student's profile, collaborate with my teammates for the search and fix of bugs, assist my teammates with the database migrations.</li>
</ul>

<br>

<div>
<h2>Showcase</h2>
<img style="width: 55%;" src="/assets/img/swGIF.gif" />
</div>

<br>

<div>
<h2><a style="text-decoration: none;" href="https://github.com/faviootero123/Scholarship">Code Snippet - Adding of STEM activities</a></h2>
<pre>
    <code>{{code}}</code>
 </pre>
</div>
