<h1 style="text-align: center;">Welcome!</h1>
<p style="text-align: center;">Thanks for visiting my portfolio! These are some of the projects I have worked on during my college experience.</p>

<h2>Overview</h2>
<ul>
  <li><strong>Number Guessing Game: </strong>Simple guessing game where a user is supposed to guess a number between 0 and 100. Once making a guess, the game tells the player either correct, lower, or higher.
    If it's lower or higher, the player submits another guess. This process repeats until the player finds the correct answer.</li>
  <li><strong>Hangman Game: </strong>One player asynchronous game based on the traditional Hangman game. One player thinks of a word (in this case the computer) and the other player tries to guess what it is. The game ends when the word is successfully guessed or the stick person is hanged.</li>
  <li><strong>Speed Game: </strong>Two player asynchronous game based on the original Speed card game. Fast paced game in which each player tries to get rid of all of their cards first.</li>
  <li><strong>Scholarship App: </strong>Fix and update of an old version of Weber State CS Scholarship website.</li>
</ul>

<br>

<h2>Site Technologies</h2>
<p>This website was built with:</p>
<ul>
  <li><a href='https://get.asp.net/'>ASP.NET Core</a> and <a href='https://msdn.microsoft.com/en-us/library/67ef8sbd.aspx'>C#</a> for cross-platform server-side code</li>
  <li><a href='https://angular.io/'>Angular</a> and <a href='http://www.typescriptlang.org/'>TypeScript</a> for client-side code</li>
  <li><a href='http://getbootstrap.com/'>Bootstrap</a> for layout and styling</li>
</ul>
