<h1 style="text-align: center;">Number Guessing!</h1>
<hr />

<br>

<h2>Details </h2>
<ul>
  <li><strong>Technologies Used:</strong> HTML, CSS, MySQL, PHP, PhpStorm (IDE)</li>
  <li><strong>Individual assignment</strong> in which a player plays the traditional number guessing game.</li>
  <li>The game is hosted at the InfinityFree website with TLS certification.</li>
  <li>Account authentication is required. InfinityFree uses MySQL as their backend.</li>
  <li>Accounts are being hashed and salted server-side. </li>
  <li>Logic of game is generated server-side.</li>
</ul>

<br>

<div>
<h2><a style="text-decoration: none;" href="https://faviooterospr22.epizy.com/login.php">Showcase</a></h2>
<img style="width: 55%;" src="/assets/img/ngGIF.gif" />
</div>

<br>

<div>
<h2><a style="text-decoration: none;" href="https://github.com/faviootero123/NumberGuessing">Code Snippet - Sign Up</a></h2>
<pre>
    <code>{{code}}</code>
 </pre>
</div>
